In [1]:
import pandas as pd

In [ ]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
data = pd.read_csv('ml-100k/ub.test', '\t', names=r_cols,)
data.head()

unknown,  Action,  Adventure, Animation,  Children's,  Comedy, Crime,  Documentary,  Drama, Fantasy,  Film-Noir,  Horror, Musical, Mystery, Romance,  Sci-Fi, Thriller, War, Western,<br>
unknown, Hành động, Phiêu lưu, Hoạt hình, Trẻ em, Hài kịch, Tội phạm, Phim tài liệu, Chính kịch, Ảo tưởng, Phim-Noir, Kinh dị, Âm nhạc, Bí ẩn, Lãng mạn, Sci-Fi, Phim kinh dị, Chiến tranh, Phương Tây,

In [12]:
# Choose: action, adventure, romance

In [9]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
data = pd.read_csv('ml-100k/ub.test', '\t', names=r_cols,)
data.head()

   user_id  movie_id  rating  unix_timestamp
0        1        17       3       875073198
1        1        47       4       875072125
2        1        64       5       875072404
3        1        90       4       878542300
4        1        92       3       876892425

In [13]:
num_users = data.user_id.unique().shape[0]
num_items = data.movie_id.unique().shape[0]
num_users, num_items

(943, 1145)