In [1]:
import pandas as pd

### Convert train

In [2]:
# Total records
train_df = pd.read_csv('./train/enrollment_train.csv')
len(train_df)

72395

In [3]:
train_df.head()

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2

In [4]:
top_course = train_df.groupby('course_id').course_id.agg(['count']).reset_index().sort_values(by='count', ascending=False)
top_course = top_course['course_id'][:20].tolist()
top_course

['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
 'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
 'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
 'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
 'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
 'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
 'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
 'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
 '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
 'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE',
 'a2E7NQC7nZB7WHEhKGhKnKvUWtsLAQzh',
 'NmbZ3BmS8V4pMg6oxXHWpqqMZCE1jvYt',
 '5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6',
 'xMd9DzNyUCTLRPVbwWVzf4vq06oqrTT1',
 '1pvLqtotBsKv7QSOsLicJDQMHx3lui6d',
 'A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3',
 '3cnZpv6ReApmCaZyaQwi2izDZxVRdC01',
 'fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi',
 'Er0RFawC4sHagDmmQZcBGBrzamLQcblZ',
 '3VkHkmOtom3jM2wCu94xgzzu1d6Dn7or']

In [5]:
new_train_df = train_df[train_df['course_id'].isin(top_course)]
print(len(new_train_df))
new_train_df.head()

57946

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
5,14,XOhIczT5nEeO52jMq1vN7QziDk8L2jnI,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
6,18,b0Hk5D3sJulvyuC4JEm5kvAvOLAxswgQ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
7,20,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [6]:
new_train_df[new_train_df['course_id']=='TAYxxh39I2LZnftBpL0LfF2NxzrCKpkx']

Empty DataFrame
Columns: [enrollment_id, username, course_id]
Index: []

In [7]:
# Total username had enrolled more than 2 times
greater5_username = new_train_df.groupby(['username']).filter(lambda x: len(x) >= 5)
unique_greater5_username = greater5_username.username.unique()
len(unique_greater5_username), unique_greater5_username[:10]

(236, array(['61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd',
        'T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM',
        'k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W',
        'UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX',
        'yZ9FndAKqVsKwZtO1B2JJJblefdbhZ02',
        'oaoj9be4jW2Hot8wYgYrzLRvB0RU4KYy',
        'lbgTV2YMskSv2TX4EXpaazpMVWfsftEV',
        's6iksgptFmyh2vfiarKdJkiKnp6RLi3f',
        'viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk',
        'HAAyQYNYY3ULmqhNC56bxv5FSwyMVoqP'], dtype=object))

In [8]:
new_train_df = new_train_df[new_train_df['username'].isin(unique_greater5_username)]
len(new_train_df)

1313

In [9]:
new_train_df.head()

,enrollment_id,username,course_id
389,1124,61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
437,1248,T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
563,1585,k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
619,1736,UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
628,1758,yZ9FndAKqVsKwZtO1B2JJJblefdbhZ02,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd

In [10]:
len(top_course), len(unique_greater5_username)

(20, 236)

### New dataset

In [11]:
username = new_train_df.username.unique()
new_username = list([i for i in range(len(username))])

dict_username = dict(zip(username, new_username))
len(username), username[:10], new_username[:10]

(236, array(['61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd',
        'T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM',
        'k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W',
        'UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX',
        'yZ9FndAKqVsKwZtO1B2JJJblefdbhZ02',
        'oaoj9be4jW2Hot8wYgYrzLRvB0RU4KYy',
        'lbgTV2YMskSv2TX4EXpaazpMVWfsftEV',
        's6iksgptFmyh2vfiarKdJkiKnp6RLi3f',
        'viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk',
        'HAAyQYNYY3ULmqhNC56bxv5FSwyMVoqP'], dtype=object), [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9])

In [12]:
course_id = top_course
new_course_id = list([i for i in range(len(course_id))])

dict_course_id = dict(zip(course_id, new_course_id))
len(course_id), course_id[:10], new_course_id[:10]

(20,
 ['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
  'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
  'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
  'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
  'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
  'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
  'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
  'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
  '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
  'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE'],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
new_train_df['user'] = new_train_df['username'].apply(lambda u: dict_username[u])
new_train_df['user'][:10]

389    0
437    1
563    2
619    3
628    4
665    5
679    6
680    7
710    8
718    8
Name: user, dtype: int64

In [15]:
new_train_df['course'] = new_train_df['course_id'].apply(lambda c: dict_course_id[c])
new_train_df['course'][:10]

389     4
437     1
563     1
619     1
628     4
665    17
679    17
680    17
710    12
718    18
Name: course, dtype: int64

In [19]:
new_train_df[:10]

,enrollment_id,username,course_id,user,course
389,1124,61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,0,4
437,1248,T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,1,1
563,1585,k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,2,1
619,1736,UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,3,1
628,1758,yZ9FndAKqVsKwZtO1B2JJJblefdbhZ02,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,4,4
665,1845,oaoj9be4jW2Hot8wYgYrzLRvB0RU4KYy,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,5,17
679,1888,lbgTV2YMskSv2TX4EXpaazpMVWfsftEV,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,6,17
680,1891,s6iksgptFmyh2vfiarKdJkiKnp6RLi3f,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,7,17
710,1967,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6,8,12
718,1980,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,Er0RFawC4sHagDmmQZcBGBrzamLQcblZ,8,18

In [20]:
new_train_df.to_csv('./train/enroll_train.csv')

### Use new username, course to apply in test

In [21]:
# Total records
test_df = pd.read_csv('./test/enrollment_test.csv')
len(test_df)

24013

In [22]:
test_df.head()

,enrollment_id,username,course_id
0,30,JPkczYOxyoDZBjwZAAQHmjpSvnPQzwV0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,31,6mzGZyDGSLMvgMQyFwXmz47ojS1kH3j6,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,48,1ELMItXjpijnCZU4WKxvrVri8AjkR2gf,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
4,50,LnNj9zDI8D38ixGOYTIjTH2iF5m36v9S,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [23]:
# user name unique in train_df 
username[:10]

array(['61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd',
       'T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM',
       'k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W',
       'UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX',
       'yZ9FndAKqVsKwZtO1B2JJJblefdbhZ02',
       'oaoj9be4jW2Hot8wYgYrzLRvB0RU4KYy',
       'lbgTV2YMskSv2TX4EXpaazpMVWfsftEV',
       's6iksgptFmyh2vfiarKdJkiKnp6RLi3f',
       'viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk',
       'HAAyQYNYY3ULmqhNC56bxv5FSwyMVoqP'], dtype=object)

In [24]:
# course_id unique in train_df 
course_id[:10]

['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
 'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
 'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
 'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
 'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
 'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
 'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
 'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
 '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
 'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE']

In [25]:
# Only test if username and course appear in train_df
def inTrain(row):
    if row['username'] in username and row['course_id'] in course_id:
        return True
    return False

In [26]:
in_train = test_df.apply(inTrain, axis=1)
new_test_df = test_df[in_train]
len(new_test_df)

184

In [27]:
new_test_df.head()

,enrollment_id,username,course_id
225,1974,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv
235,2092,5IM8g7YMOYo5qH7Yu3x31T3JkVOH9iqe,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv
240,2129,zeUi2UnQZPPF6bRQXw2s8LZ41ZOdqRAa,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv
301,2559,HbDaABEakQmE8DQEoFoIphu2SH13rFRy,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6
329,2843,g3902agYIRHzac78MKVZlvljLMXXNpQ7,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6

In [28]:
new_test_df['user'] = new_test_df['username'].apply(lambda u: dict_username[u])
new_test_df['user'][:10]

/home/duyvc/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

225      8
235     62
240     27
301     16
329     70
395     19
474     65
599     17
641     40
748    142
Name: user, dtype: int64

In [29]:
new_test_df['course'] = new_test_df['course_id'].apply(lambda c: dict_course_id[c])
new_test_df['course'][:10]

/home/duyvc/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

225     0
235     0
240     0
301    12
329    12
395    18
474    17
599    16
641     5
748     4
Name: course, dtype: int64

In [30]:
new_test_df.head()

,enrollment_id,username,course_id,user,course
225,1974,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv,8,0
235,2092,5IM8g7YMOYo5qH7Yu3x31T3JkVOH9iqe,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv,62,0
240,2129,zeUi2UnQZPPF6bRQXw2s8LZ41ZOdqRAa,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv,27,0
301,2559,HbDaABEakQmE8DQEoFoIphu2SH13rFRy,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6,16,12
329,2843,g3902agYIRHzac78MKVZlvljLMXXNpQ7,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6,70,12

In [31]:
new_test_df.to_csv('./test/enroll_test.csv')