In [3]:
import pandas as pd

### Summary dataset

In [4]:
# Total records
df = pd.read_csv('./train/enrollment_train.csv')
len(df)

72395

In [9]:
# Total username had enrolled more than 2 times
greater2_username = df.groupby(['username']).filter(lambda x: len(x) > 2)
unique_greater2_username = greater2_username.username.unique()
len(unique_greater2_username)

3886

In [10]:
# Total unique course_id
unique_course_id = df.groupby(['course_id']).course_id
len(unique_course_id)

39

In [18]:
unique_greater2_username = unique_greater2_username.tolist()
print(unique_greater2_username[:10])
len(unique_greater2_username)

['9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0', 'BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc', 'dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF', '2oTvbzieHn2y5oozeOgSnruqE6N0BtR5', 'l9KseRU4xYtwOzoILYmGcicF0iiXQqxl', 'eoY58NwX7OVcm2sOG1AAgydEA1V5TiLJ', 'KXi2lu4GlKmrO1lJTLg3t4l701rvNXNZ', 'jaHWKFBvrvFfPb0Pq50zaMZ2xpeRooXu', 'YE1rovPZph43LumR0tvbOJ2qHlGYgJD3', 'kMN5uYNaj23K9PVTrdyiL9iDB1lCye57']

3886

In [26]:
new_df = df[df['username'].isin(unique_greater2_username)]
new_df = new_df.sort_values(by=['username'])
new_df[:10]

,enrollment_id,username,course_id
26840,74475,00SOCgKq1H6iYExhbauCeUrQFSjIMetG,TAYxxh39I2LZnftBpL0LfF2NxzrCKpkx
26845,74488,00SOCgKq1H6iYExhbauCeUrQFSjIMetG,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
33064,91877,00SOCgKq1H6iYExhbauCeUrQFSjIMetG,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv
36702,101895,01X1B7l4AGo28JRuCAhcZ0vSs3Q9KIgT,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv
40924,113753,01X1B7l4AGo28JRuCAhcZ0vSs3Q9KIgT,I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO
71693,198999,01X1B7l4AGo28JRuCAhcZ0vSs3Q9KIgT,H2lDW05SyKnwntZ6Fora76aPAEswcMa5
23901,66499,027Z8j2WK53Mlds7OS81RRSiEwviGlfr,shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI
34010,94445,027Z8j2WK53Mlds7OS81RRSiEwviGlfr,V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE
12595,35074,027Z8j2WK53Mlds7OS81RRSiEwviGlfr,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
61413,170410,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE

In [27]:
# Total 14677 recors enroll from 3886 user with 39 course_id
len(new_df)

14677

### New dataset