In [1]:
import pandas as pd

### Convert train

In [2]:
# Total records
train_df = pd.read_csv('./train/enrollment_train.csv')
len(train_df)

72395

In [3]:
# Total username had enrolled more than 2 times
greater5_username = train_df.groupby(['username']).filter(lambda x: len(x) >= 5)
unique_greater5_username = greater5_username.username.unique()
len(unique_greater5_username)

720

In [4]:
# Total unique course_id
unique_course_id = train_df.groupby(['course_id']).course_id
len(unique_course_id)

39

In [5]:
unique_greater5_username = unique_greater5_username.tolist()
print(unique_greater5_username[:10])
len(unique_greater5_username)

['9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0', 'BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc', '2oTvbzieHn2y5oozeOgSnruqE6N0BtR5', 'eakdJaYNzY2KmT602U8CscAjNHHpGkgl', 'tp9GLoYyljDV6mILQxrtrv1Iw4qcPl5Z', 'zVX5LPwTGC1SEitxSfv31cubNXKJSEc2', 'sD3rDh1CtXsAdfDDyFRBf917K7ELQzHQ', 'vbTgITzq6jZRj0oUV5gFotgOlwSXnjML', 'uQjl8NGtIQkRfoe9edBiMgtYYmdkzVXR', '8GKtgh5ojCBJDZIzab4pnG3eXm8mejoD']

720

In [6]:
new_train_df = train_df[train_df['username'].isin(unique_greater5_username)]
new_train_df = new_train_df.sort_values(by=['username'])
new_train_df[:10]

,enrollment_id,username,course_id
61413,170410,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE
27413,76019,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
27412,76018,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
45684,126800,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi
27410,76015,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw
7089,20028,096xYyhB9kL7G6lT7J9rVrXyGNwUToLF,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J
11965,33341,096xYyhB9kL7G6lT7J9rVrXyGNwUToLF,9Mq1P5hrrLw6Bh9X4W4ZjisQJDdxjz9x
12046,33547,096xYyhB9kL7G6lT7J9rVrXyGNwUToLF,H2lDW05SyKnwntZ6Fora76aPAEswcMa5
11968,33344,096xYyhB9kL7G6lT7J9rVrXyGNwUToLF,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3
11801,32875,096xYyhB9kL7G6lT7J9rVrXyGNwUToLF,RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt

In [7]:
# Total 14677 recors enroll from 3886 user with 39 course_id
len(new_train_df)

4368

### New dataset

In [8]:
username = new_train_df.username.unique()
new_username = list(['user{}'.format(i) for i in range(len(username))])

dict_username = dict(zip(username, new_username))
len(username), username[:10], new_username[:10]

(720, array(['03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs',
        '096xYyhB9kL7G6lT7J9rVrXyGNwUToLF',
        '0CuRIhBavvQKL5rTT1QWf2kztAfRXZug',
        '0OpVcmwG6bVPxKzOCpgJ9F6MfBtuGolr',
        '0Tg2flbTUdD7fODqYIfpiJiK0IDdFiOP',
        '0UufwnomhqqyQLnmEpyIsrXn6C4McKHM',
        '0V5MOLVbNHPDqvl0FcmJbw01XdVgQMJF',
        '0eMlSFoZScU7zUCIgAM0BWfQh50FQz3i',
        '0hRwE5vbowYRJTF6rcWCTgSh4yHA34bg',
        '0mg5UfmflBvw9f6RP57AlBJRO9poj3Bs'], dtype=object), ['user0',
  'user1',
  'user2',
  'user3',
  'user4',
  'user5',
  'user6',
  'user7',
  'user8',
  'user9'])

In [9]:
course_id = new_train_df.course_id.unique()
new_course_id = list(['course{}'.format(i) for i in range(len(course_id))])

dict_course_id = dict(zip(course_id, new_course_id))
len(course_id), course_id[:10], new_course_id[:10]

(39, array(['V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE',
        'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
        'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
        'fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi',
        'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
        '9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J',
        '9Mq1P5hrrLw6Bh9X4W4ZjisQJDdxjz9x',
        'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
        'A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3',
        'RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt'], dtype=object), ['course0',
  'course1',
  'course2',
  'course3',
  'course4',
  'course5',
  'course6',
  'course7',
  'course8',
  'course9'])

In [10]:
new_train_df['user'] = new_train_df['username'].apply(lambda u: dict_username[u])
new_train_df['user'][:10]

61413    user0
27413    user0
27412    user0
45684    user0
27410    user0
7089     user1
11965    user1
12046    user1
11968    user1
11801    user1
Name: user, dtype: object

In [11]:
new_train_df['course'] = new_train_df['course_id'].apply(lambda c: dict_course_id[c])
new_train_df['course'][:10]

61413    course0
27413    course1
27412    course2
45684    course3
27410    course4
7089     course5
11965    course6
12046    course7
11968    course8
11801    course9
Name: course, dtype: object

In [12]:
new_train_df.head()

,enrollment_id,username,course_id,user,course
61413,170410,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE,user0,course0
27413,76019,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,user0,course1
27412,76018,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user0,course2
45684,126800,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,user0,course3
27410,76015,03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,user0,course4

In [13]:
new_train_df.to_csv('./train/enroll_train.csv')

### Use new username, course to apply in test

In [14]:
# Total records
test_df = pd.read_csv('./test/enrollment_test.csv')
len(test_df)

24013

In [15]:
test_df.head()

,enrollment_id,username,course_id
0,30,JPkczYOxyoDZBjwZAAQHmjpSvnPQzwV0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,31,6mzGZyDGSLMvgMQyFwXmz47ojS1kH3j6,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,48,1ELMItXjpijnCZU4WKxvrVri8AjkR2gf,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
4,50,LnNj9zDI8D38ixGOYTIjTH2iF5m36v9S,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [16]:
# user name unique in train_df 
username[:10]

array(['03LSJMJGCEPYScMXgYv3wZ9A4zZCWROs',
       '096xYyhB9kL7G6lT7J9rVrXyGNwUToLF',
       '0CuRIhBavvQKL5rTT1QWf2kztAfRXZug',
       '0OpVcmwG6bVPxKzOCpgJ9F6MfBtuGolr',
       '0Tg2flbTUdD7fODqYIfpiJiK0IDdFiOP',
       '0UufwnomhqqyQLnmEpyIsrXn6C4McKHM',
       '0V5MOLVbNHPDqvl0FcmJbw01XdVgQMJF',
       '0eMlSFoZScU7zUCIgAM0BWfQh50FQz3i',
       '0hRwE5vbowYRJTF6rcWCTgSh4yHA34bg',
       '0mg5UfmflBvw9f6RP57AlBJRO9poj3Bs'], dtype=object)

In [17]:
# course_id unique in train_df 
course_id[:10]

array(['V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE',
       'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
       'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
       'fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi',
       'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
       '9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J',
       '9Mq1P5hrrLw6Bh9X4W4ZjisQJDdxjz9x',
       'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
       'A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3',
       'RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt'], dtype=object)

In [18]:
# Only test if username and course appear in train_df
def inTrain(row):
    if row['username'] in username and row['course_id'] in course_id:
        return True
    return False

In [19]:
in_train = test_df.apply(inTrain, axis=1)
new_test_df = test_df[in_train]
len(new_test_df)

866

In [20]:
new_test_df.head()

,enrollment_id,username,course_id
25,193,tp9GLoYyljDV6mILQxrtrv1Iw4qcPl5Z,KHPw0gmg1Ad3V07TqRpyBzA8mRjj7mkt
38,334,uQjl8NGtIQkRfoe9edBiMgtYYmdkzVXR,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
75,677,DBl87nF6WTgoCD6kgTHVE2oB45pDEn6y,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
168,1424,VBP5PzVQEKJYFH0y5ffEek5WfP9EW7uc,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
173,1491,lCyf3TRKW0i3K1mBgKz23OONMdCWqNsI,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [21]:
new_test_df['user'] = new_test_df['username'].apply(lambda u: dict_username[u])
new_test_df['user'][:10]

/home/duyvc/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

25     user655
38     user660
75     user160
168    user388
173    user561
176    user168
190    user137
225    user672
235     user63
240    user718
Name: user, dtype: object

In [22]:
new_test_df['course'] = new_test_df['course_id'].apply(lambda c: dict_course_id[c])
new_test_df['course'][:10]

/home/duyvc/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

25     course11
38      course2
75      course2
168     course1
173    course29
176     course1
190    course29
225    course22
235    course22
240    course22
Name: course, dtype: object

In [23]:
new_test_df.head()

,enrollment_id,username,course_id,user,course
25,193,tp9GLoYyljDV6mILQxrtrv1Iw4qcPl5Z,KHPw0gmg1Ad3V07TqRpyBzA8mRjj7mkt,user655,course11
38,334,uQjl8NGtIQkRfoe9edBiMgtYYmdkzVXR,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user660,course2
75,677,DBl87nF6WTgoCD6kgTHVE2oB45pDEn6y,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user160,course2
168,1424,VBP5PzVQEKJYFH0y5ffEek5WfP9EW7uc,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,user388,course1
173,1491,lCyf3TRKW0i3K1mBgKz23OONMdCWqNsI,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,user561,course29

In [24]:
new_test_df.to_csv('./test/enroll_test.csv')