In [1]:
import pandas as pd
import numpy as np

## Train df process

In [2]:
# Total records
train_df = pd.read_csv('./train/enrollment_train.csv')
len(train_df)

72395

In [3]:
train_df.head()

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2

In [4]:
username = train_df.username.unique()
username[:10], len(username)

(array(['9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0',
        'FIHlppZyoq8muPbdVxS44gfvceX9zvU7',
        'p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c',
        'I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02',
        'hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb',
        'XOhIczT5nEeO52jMq1vN7QziDk8L2jnI',
        'b0Hk5D3sJulvyuC4JEm5kvAvOLAxswgQ',
        'BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc',
        'dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF',
        'vcAiZWU2sfUKO0mnfjDwm0iTzACrKr78'], dtype=object), 53870)

In [5]:
new_username = dict({username[i]: 'user{}'.format(i+1) for i in range(len(username))})
len(new_username)

53870

In [6]:
train_df['username'] = train_df['username'].apply(lambda u : new_username[u])
train_df.head()

   enrollment_id username                         course_id
0              1    user1  DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1              4    user2  DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2              5    user3  7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3              7    user4  7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4             13    user5  5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2

In [7]:
course_id = train_df.course_id.unique()
course_id[:10], len(course_id)

(array(['DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
        '7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx',
        '5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2',
        'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
        'TAYxxh39I2LZnftBpL0LfF2NxzrCKpkx',
        'KHPw0gmg1Ad3V07TqRpyBzA8mRjj7mkt',
        'fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi',
        '81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
        '5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6',
        'Er0RFawC4sHagDmmQZcBGBrzamLQcblZ'], dtype=object), 39)

In [8]:
new_course_id = dict({ course_id[i]:'course{}'.format(i+1) for i in range(len(course_id))})
len(new_course_id)

39

In [9]:
train_df['course_id'] = train_df['course_id'].apply(lambda i : new_course_id[i])
train_df.head()

   enrollment_id username course_id
0              1    user1   course1
1              4    user2   course1
2              5    user3   course2
3              7    user4   course2
4             13    user5   course3

## Save train df in matrix type to input CF

## Test df process

In [10]:
# Total records
test_df = pd.read_csv('./test/enrollment_test.csv')
len(test_df)

24013

In [11]:
test_df.head()

,enrollment_id,username,course_id
0,30,JPkczYOxyoDZBjwZAAQHmjpSvnPQzwV0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,31,6mzGZyDGSLMvgMQyFwXmz47ojS1kH3j6,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,48,1ELMItXjpijnCZU4WKxvrVri8AjkR2gf,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
4,50,LnNj9zDI8D38ixGOYTIjTH2iF5m36v9S,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [12]:
len(test_df.course_id.unique())

39

In [13]:
test_df = test_df[test_df['username'].isin(username)] # filter all user existed in train's username
len(test_df)

10081

In [14]:
test_df['username'] = test_df['username'].apply(lambda u : new_username[u])
test_df['course_id'] = test_df['course_id'].apply(lambda i : new_course_id[i])
test_df.head()

    enrollment_id   username course_id
1              31   user1552   course1
4              50   user5093   course2
11            101  user20956   course1
12            104   user2890   course1
14            113  user26596   course1