In [1]:
import names
import pandas as pd

In [2]:
rand_names = {'user_id': [], 'username': []}

In [3]:
n_users = 71
for i in range(n_users):
    user_id = 'user{}'.format(i)
    username = names.get_full_name()
    while username in rand_names.values():
        username = names.get_full_name()
    
    rand_names['user_id'].append(user_id)
    rand_names['username'].append(username)

In [6]:
df = pd.DataFrame(rand_names)

In [7]:
df.head()

  user_id         username
0   user0      Dana Sowell
1   user1     Martha Jones
2   user2  Franklin Miller
3   user3     Beverly Ball
4   user4  Michael Edwards

In [9]:
df.to_csv('./users.csv', index=False)