In [1]:
# !pip3 install names

In [2]:
import pandas as pd
import numpy as np
import names

In [3]:
TOP_COURSE = 37 # number course to get
TOP_ENROLL = 4 # users had enrolled equal or more than 5 times

### Filter training enrollment by TOP_COURSE and TOP_ENROLL

In [4]:
# Total records
train_df = pd.read_csv('./train/enrollment_train.csv')
len(train_df)

72395

In [5]:
train_df.head()

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2

In [6]:
len(train_df.groupby('course_id').course_id)

39

In [7]:
len(train_df.groupby('username').username)

53870

In [8]:
top_course = train_df.groupby('course_id').course_id.agg(['count']).reset_index().sort_values(by='count', ascending=False)
top_course = top_course['course_id'][:TOP_COURSE].tolist()
top_course, range(len(top_course))

(['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
  'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
  'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
  'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
  'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
  'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
  'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
  'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
  '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
  'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE',
  'a2E7NQC7nZB7WHEhKGhKnKvUWtsLAQzh',
  'NmbZ3BmS8V4pMg6oxXHWpqqMZCE1jvYt',
  '5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6',
  'xMd9DzNyUCTLRPVbwWVzf4vq06oqrTT1',
  '1pvLqtotBsKv7QSOsLicJDQMHx3lui6d',
  'A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3',
  '3cnZpv6ReApmCaZyaQwi2izDZxVRdC01',
  'fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi',
  'Er0RFawC4sHagDmmQZcBGBrzamLQcblZ',
  '3VkHkmOtom3jM2wCu94xgzzu1d6Dn7or',
  'nSfGxfEtzw5G72fVbfaowxsV46Pg1xIc',
  'Wm3dddHSynJ76EJV6hyLYKGGRL0JF3YK',
  'bWdj2GDclj5ofokWjzoa5jAwMkxCykd6',
  'DABrJ6O4AotFwuAbfo1fuMj40VmMpPGX',
  '7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx',
  'mTmmr5zd8l4wXhwiULwjSmSbi9ktcFmV',
  '9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J',
  'q6A6QG7qMpyNcznyT2XaIxnfNGkZRxXl',
  'HbeAZjZFFQUe90oTP0RRO0PEtRAqU3kK',
  '9Mq1P5hrrLw6Bh9X4W4ZjisQJDdxjz9x',
  'G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu',
  'X78EhlW2JxwO1I6S3U4yZVwkEQpKXLOj',
  'TAYxxh39I2LZnftBpL0LfF2NxzrCKpkx',
  'RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt',
  'tXbz2ZYaRyb2ZsWUBPoYzAmisOhHQrYl',
  '5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2',
  'gvEwgd64UX4t3K7ftZwXiMkFuxFUAqQE'],
 range(0, 37))

In [9]:
new_train_df = train_df[train_df['course_id'].isin(top_course)]
print(len(new_train_df))
new_train_df.head()

71557

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2

In [10]:
new_train_df[new_train_df['course_id']=='DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila']

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
5,14,XOhIczT5nEeO52jMq1vN7QziDk8L2jnI,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
6,18,b0Hk5D3sJulvyuC4JEm5kvAvOLAxswgQ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
7,20,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
...,...,...,...
70920,196955,5JwFy3LzvMAPj3PPVJsanD1801FDhYLS,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70931,196994,BDe3LY4LwNXANV689l0Qamfouhqdygxh,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70935,197002,U8vo2wOZC3Q8EW1kIl6iwoIzgmQUZ4u1,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70938,197009,8nwJGMvEWVLgnvDRJG8GJRGN3pQnQQ5v,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70947,197027,vVomSgkHkyw3sqrRqYKc3zE1eWaa2d4G,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [11]:
# Total username had enrolled equals or more than 5 times
greater5_username = new_train_df.groupby(['username']).filter(lambda x: len(x) >= TOP_ENROLL)
unique_greater5_username = greater5_username.username.unique()
len(unique_greater5_username), unique_greater5_username[:10]

(1444, array(['9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0',
        'BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc',
        '2oTvbzieHn2y5oozeOgSnruqE6N0BtR5',
        'l9KseRU4xYtwOzoILYmGcicF0iiXQqxl',
        'KXi2lu4GlKmrO1lJTLg3t4l701rvNXNZ',
        'FX39OUMp2fc5cOhN2hgQkfpLfm3Fwtwz',
        'eakdJaYNzY2KmT602U8CscAjNHHpGkgl',
        'tp9GLoYyljDV6mILQxrtrv1Iw4qcPl5Z',
        'zVX5LPwTGC1SEitxSfv31cubNXKJSEc2',
        'ah2KXEU3IJN3pCxNzFybzDR3Qrtpz7ty'], dtype=object))

In [12]:
new_train_df = new_train_df[new_train_df['username'].isin(unique_greater5_username)]
len(new_train_df)

7087

In [13]:
new_train_df.head()

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
7,20,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
9,23,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
11,28,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,TAYxxh39I2LZnftBpL0LfF2NxzrCKpkx
15,49,2oTvbzieHn2y5oozeOgSnruqE6N0BtR5,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [14]:
new_train_df[new_train_df['course_id']=='DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila']

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
7,20,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
60,159,FX39OUMp2fc5cOhN2hgQkfpLfm3Fwtwz,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
65,186,eakdJaYNzY2KmT602U8CscAjNHHpGkgl,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
86,245,zVX5LPwTGC1SEitxSfv31cubNXKJSEc2,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
...,...,...,...
70668,196259,daIQdEkCKmllniXrj4OaClrzUCm1oKIb,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70710,196359,Io5gLr8QOxaBw8nFReloAXOpt3IlZ5WE,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70715,196369,nV86nhQ7hJG7k83qAXvGwRzPT357EJhH,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70775,196544,j79CPp6e09l3A1MeqgSV5ajYlxbk9Ixy,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70793,196602,KYLGj0LJWlbOKu0N6ntmca4SUIisJJd9,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [15]:
len(top_course), len(unique_greater5_username)

(37, 1444)

### New dataset

In [16]:
sample_dict = {
    'Công nghệ phần mềm': [
        'Thiết kế giao diện người dùng',
        'Kiểm thử và đảm bảo chất lượng phần mềm',
        'Kiến trúc phần mềm',
        'Phân tích và thiết kế hướng đối tượng',
        'Quản lý dự án phần mềm',
    ],
    'Toán học': [        
        'Giải tích',
        'Tư duy toán học',
        'Đại số tuyến tính',
        'Lý thuyết trò chơi',
    ],
    'Khoa học máy tính': [        
        'Trí tuệ nhân tạo',
        'Chương trình dịch',
        'Xử lý ảnh',
        'Xử lý ngôn ngữ tự nhiên',
    ],
    'Ngôn ngữ': [
        'Nhập môn tiếng Nhật',
        'Tiếng Anh giao tiếp',
    ],
    'Mạng và truyền thông': [        
        'Lập trình mạng',
        'Phát triển ứng dụng Web',
        'An ninh mạng',
    ],
    'Kinh tế học cơ bản': [
        'Kinh tế tiền tệ và ngân hàng',
        'Nguyên tắc kinh tế vi mô',
        'Khái niệm cơ bản về giao dịch',
        'Cơ sở kinh doanh',
        'Thị trường tài chính',
    ],
    'Marketing' : [
        'Giới thiệu về marketing',
        'Marketing trong thế giới thực',
        'Tiếp thị kỹ thuật số',
    ],
    'Lịch sử': [
        'Lịch sử Việt Nam cận đại',
        'Chiến tranh thế giới thứ 1',
        'Chiến tranh thế giới thứ 2',
        'Văn hóa Việt Nam',
        'Lịch sử Hà Nội',
    ],
    'Sức khỏe và đời sống': [
        'Dinh dưỡng cho trẻ',
        'Tâm lý xã hội',
        'Bệnh tiểu đường',
    ],
    'Nghệ thuật': [
        'Giới thiệu về kiến trúc',
        'Nhạc truyền thống',
        'Hội họa',
    ]
}

sample_dict_en = {
    'Software Engineering': [
        'Human Interface',
        'Software Testing Techniques',
        'Software Architecture',
        'Object Oriented Programming',
        'Software Project Management ',
    ],
    'Math and Logic': [        
        'Mathematical Analysis',
        'Mathematical Thinking',
        'Linear Algebra',
        'Game Theory',
    ],
    'Computer Science': [        
        'Artificial Intelligence',
        'Compiler Programing',
        'Image Processing',
        'Natural Language Processing',
    ],
    'Language': [
        'Introduction to Japanese',
        'Communication English',
    ],
    'Communications and Computer Networks': [        
        'Network Programming',
        'Website Development',
        'Network Security',
    ],
    'Economic': [
        'Introduction to Bank',
        'Micro Economic',
        'Introduction to Transactional',
        'Business Model',
        'Financial Markets',
    ],
    'Marketing' : [
        'Introduction to marketing',
        'Marketing in the World',
        'Digital mMkerting',
    ],
    'History': [
        'History of Vietnam',
        '1st World War',
        '2nd World War',
        'Vietnamese culture',
        'History of Ha Noi',
    ],
    'Health': [
        'Children Nutrition',
        'Psychology',
        'Healthcare Management',
    ],
    'Arts and Humanities': [
        'Introdution to Architect',
        'Traditional music',
        'Painting',
    ]
}


courses_data = {
    'category': [],
    'course': [],
    'category_en': [],
    'course_en': [],
}

for category, courses in sample_dict_en.items():
    for course in courses:
        courses_data['category_en'].append(category)
        courses_data['course_en'].append(course)

for category, courses in sample_dict.items():
    for course in courses:
        courses_data['category'].append(category)
        courses_data['course'].append(course)
courses_data_df = pd.DataFrame(courses_data, columns= ['category', 'course', 'category_en', 'course_en'])
courses_data_df.to_csv('./courses.csv', index = False, header=True)

In [17]:
categories = list(sample_dict.keys())
categories.sort()
print(categories)

defaut_categories = categories.copy()
weights = [
    0.9, 0.1, 0.1, 0.1, 0.9, 0.1, 0.1, 0.1, 0.5,
    0.1, 0.1, 0.5, 0.9, 0.1, 0.1, 0.1, 0.5,
    0.3, 0.9, 0.1, 0.1, 0.3, 0.1, 0.5,
    0.1, 0.1, 0.5, 0.5, 0.1, 0.1,
    0.9, 0.5, 0.5, 0.1, 0.1,
    0.1, 0.1, 0.1, 0.5,
    0.5, 0.1, 0.1,
    0.1, 0.1,
    0.1,
]

rules_data = {
    'c_from': [],
    'c_to': [],
    'weight': weights
}

for c_from in defaut_categories:
    categories.pop(0)
    if len(categories) == 0:
        break
    for c_to in categories:
        print(c_from, c_to, weights[0], sep='----')
        rules_data['c_from'].append(c_from)
        rules_data['c_to'].append(c_to)
        rules_data['weight'].append(weights[0])
        weights.pop(0)


rules_data_df = pd.DataFrame(rules_data, columns= ['c_from', 'c_to', 'weight'])
rules_data_df.to_csv('./rules.csv', index = False, header=True)

['Công nghệ phần mềm', 'Khoa học máy tính', 'Kinh tế học cơ bản', 'Lịch sử', 'Marketing', 'Mạng và truyền thông', 'Nghệ thuật', 'Ngôn ngữ', 'Sức khỏe và đời sống', 'Toán học']
Công nghệ phần mềm----Khoa học máy tính----0.9
Công nghệ phần mềm----Kinh tế học cơ bản----0.1
Công nghệ phần mềm----Lịch sử----0.1
Công nghệ phần mềm----Marketing----0.1
Công nghệ phần mềm----Mạng và truyền thông----0.9
Công nghệ phần mềm----Nghệ thuật----0.1
Công nghệ phần mềm----Ngôn ngữ----0.1
Công nghệ phần mềm----Sức khỏe và đời sống----0.1
Công nghệ phần mềm----Toán học----0.5
Khoa học máy tính----Kinh tế học cơ bản----0.1
Khoa học máy tính----Lịch sử----0.1
Khoa học máy tính----Marketing----0.5
Khoa học máy tính----Mạng và truyền thông----0.9
Khoa học máy tính----Nghệ thuật----0.1
Khoa học máy tính----Ngôn ngữ----0.1
Khoa học máy tính----Sức khỏe và đời sống----0.1
Khoa học máy tính----Toán học----0.5
Kinh tế học cơ bản----Lịch sử----0.3
Kinh tế học cơ bản----Marketing----0.9
Kinh tế học cơ bản----Mạng và truyền thông----0.1
Kinh tế học cơ bản----Nghệ thuật----0.1
Kinh tế học cơ bản----Ngôn ngữ----0.3
Kinh tế học cơ bản----Sức khỏe và đời sống----0.1
Kinh tế học cơ bản----Toán học----0.5
Lịch sử----Marketing----0.1
Lịch sử----Mạng và truyền thông----0.1
Lịch sử----Nghệ thuật----0.5
Lịch sử----Ngôn ngữ----0.5
Lịch sử----Sức khỏe và đời sống----0.1
Lịch sử----Toán học----0.1
Marketing----Mạng và truyền thông----0.9
Marketing----Nghệ thuật----0.5
Marketing----Ngôn ngữ----0.5
Marketing----Sức khỏe và đời sống----0.1
Marketing----Toán học----0.1
Mạng và truyền thông----Nghệ thuật----0.1
Mạng và truyền thông----Ngôn ngữ----0.1
Mạng và truyền thông----Sức khỏe và đời sống----0.1
Mạng và truyền thông----Toán học----0.5
Nghệ thuật----Ngôn ngữ----0.5
Nghệ thuật----Sức khỏe và đời sống----0.1
Nghệ thuật----Toán học----0.1
Ngôn ngữ----Sức khỏe và đời sống----0.1
Ngôn ngữ----Toán học----0.1
Sức khỏe và đời sống----Toán học----0.1

In [18]:
username = new_train_df.username.unique()
len(username)

1444

In [19]:
new_username = list(['user{}'.format(i+1) for i in range(len(username))])
new_name = list([names.get_full_name() for i in range(len(username))])

dict_username = dict(zip(username, new_username))
len(new_username), new_username[:10], new_name[:10]

users_data = {
    'user': new_username,
    'name': new_name
}
users_data_df = pd.DataFrame(users_data, columns= ['user', 'name'])
users_data_df.to_csv('./users.csv', index = False, header=True)

In [20]:
course_id = top_course
sample_course = np.hstack(list(sample_dict.values()))
len(sample_course), sample_course, range(len(course_id))
new_course_id = list([sample_course[i] for i in range(len(course_id))])

dict_course_id = dict(zip(course_id, new_course_id))
len(course_id), course_id[:10], new_course_id[:10]

(37,
 ['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
  'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
  'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
  'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
  'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
  'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
  'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
  'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
  '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
  'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE'],
 ['Thiết kế giao diện người dùng',
  'Kiểm thử và đảm bảo chất lượng phần mềm',
  'Kiến trúc phần mềm',
  'Phân tích và thiết kế hướng đối tượng',
  'Quản lý dự án phần mềm',
  'Giải tích',
  'Tư duy toán học',
  'Đại số tuyến tính',
  'Lý thuyết trò chơi',
  'Trí tuệ nhân tạo'])

In [21]:
len(sample_course), len(course_id)

(37, 37)

In [22]:
new_course_id

['Thiết kế giao diện người dùng',
 'Kiểm thử và đảm bảo chất lượng phần mềm',
 'Kiến trúc phần mềm',
 'Phân tích và thiết kế hướng đối tượng',
 'Quản lý dự án phần mềm',
 'Giải tích',
 'Tư duy toán học',
 'Đại số tuyến tính',
 'Lý thuyết trò chơi',
 'Trí tuệ nhân tạo',
 'Chương trình dịch',
 'Xử lý ảnh',
 'Xử lý ngôn ngữ tự nhiên',
 'Nhập môn tiếng Nhật',
 'Tiếng Anh giao tiếp',
 'Lập trình mạng',
 'Phát triển ứng dụng Web',
 'An ninh mạng',
 'Kinh tế tiền tệ và ngân hàng',
 'Nguyên tắc kinh tế vi mô',
 'Khái niệm cơ bản về giao dịch',
 'Cơ sở kinh doanh',
 'Thị trường tài chính',
 'Giới thiệu về marketing',
 'Marketing trong thế giới thực',
 'Tiếp thị kỹ thuật số',
 'Lịch sử Việt Nam cận đại',
 'Chiến tranh thế giới thứ 1',
 'Chiến tranh thế giới thứ 2',
 'Văn hóa Việt Nam',
 'Lịch sử Hà Nội',
 'Dinh dưỡng cho trẻ',
 'Tâm lý xã hội',
 'Bệnh tiểu đường',
 'Giới thiệu về kiến trúc',
 'Nhạc truyền thống',
 'Hội họa']

In [23]:
new_train_df['user'] = new_train_df['username'].apply(lambda u: dict_username[u])
new_train_df['user'][:10]

0     user1
7     user2
9     user2
11    user2
15    user3
18    user4
34    user5
60    user6
65    user7
72    user8
Name: user, dtype: object

In [24]:
new_train_df['course'] = new_train_df['course_id'].apply(lambda c: dict_course_id[c])
new_train_df['course'][:10]

0     Kiểm thử và đảm bảo chất lượng phần mềm
7     Kiểm thử và đảm bảo chất lượng phần mềm
9                      Quản lý dự án phần mềm
11                              Tâm lý xã hội
15              Marketing trong thế giới thực
18              Marketing trong thế giới thực
34              Marketing trong thế giới thực
60    Kiểm thử và đảm bảo chất lượng phần mềm
65    Kiểm thử và đảm bảo chất lượng phần mềm
72                          Nhạc truyền thống
Name: course, dtype: object

In [25]:
new_train_df[:10]

,enrollment_id,username,course_id,user,course
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user1,Kiểm thử và đảm bảo chất lượng phần mềm
7,20,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user2,Kiểm thử và đảm bảo chất lượng phần mềm
9,23,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,user2,Quản lý dự án phần mềm
11,28,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,TAYxxh39I2LZnftBpL0LfF2NxzrCKpkx,user2,Tâm lý xã hội
15,49,2oTvbzieHn2y5oozeOgSnruqE6N0BtR5,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,user3,Marketing trong thế giới thực
18,58,l9KseRU4xYtwOzoILYmGcicF0iiXQqxl,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,user4,Marketing trong thế giới thực
34,96,KXi2lu4GlKmrO1lJTLg3t4l701rvNXNZ,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,user5,Marketing trong thế giới thực
60,159,FX39OUMp2fc5cOhN2hgQkfpLfm3Fwtwz,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user6,Kiểm thử và đảm bảo chất lượng phần mềm
65,186,eakdJaYNzY2KmT602U8CscAjNHHpGkgl,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user7,Kiểm thử và đảm bảo chất lượng phần mềm
72,200,tp9GLoYyljDV6mILQxrtrv1Iw4qcPl5Z,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2,user8,Nhạc truyền thống

In [26]:
new_train_df.to_csv('./enroll_train.csv')

In [27]:
# Save to experiment
new_train_df.to_csv('./experiment/v2/enrollment_train.csv', columns=['enrollment_id', 'username', 'course_id'], index=False)

### Use new username, course to apply in test

In [28]:
# Total records
test_df = pd.read_csv('./test/enrollment_test.csv')
len(test_df)

24013

In [29]:
test_df.head()

,enrollment_id,username,course_id
0,30,JPkczYOxyoDZBjwZAAQHmjpSvnPQzwV0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,31,6mzGZyDGSLMvgMQyFwXmz47ojS1kH3j6,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,48,1ELMItXjpijnCZU4WKxvrVri8AjkR2gf,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
4,50,LnNj9zDI8D38ixGOYTIjTH2iF5m36v9S,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [30]:
# user name unique in train_df 
username[:10]

array(['9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0',
       'BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc',
       '2oTvbzieHn2y5oozeOgSnruqE6N0BtR5',
       'l9KseRU4xYtwOzoILYmGcicF0iiXQqxl',
       'KXi2lu4GlKmrO1lJTLg3t4l701rvNXNZ',
       'FX39OUMp2fc5cOhN2hgQkfpLfm3Fwtwz',
       'eakdJaYNzY2KmT602U8CscAjNHHpGkgl',
       'tp9GLoYyljDV6mILQxrtrv1Iw4qcPl5Z',
       'zVX5LPwTGC1SEitxSfv31cubNXKJSEc2',
       'ah2KXEU3IJN3pCxNzFybzDR3Qrtpz7ty'], dtype=object)

In [31]:
# course_id unique in train_df 
course_id[:10]

['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
 'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
 'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
 'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
 'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
 'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
 'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
 'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
 '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
 'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE']

In [32]:
# Only test if username and course appear in train_df
def inTrain(row):
    if row['username'] in username and row['course_id'] in course_id:
        return True
    return False

In [33]:
in_train = test_df.apply(inTrain, axis=1)
new_test_df = test_df[in_train]
len(new_test_df)

1304

In [34]:
new_test_df.head()

,enrollment_id,username,course_id
23,171,BkozGGotFoRWvs7kivTQvwwV5JZ8hddc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
38,334,uQjl8NGtIQkRfoe9edBiMgtYYmdkzVXR,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
45,425,HlYiU2TA92it9HWOPDlsBmlpdZ7J7QTJ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
75,677,DBl87nF6WTgoCD6kgTHVE2oB45pDEn6y,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
102,835,3ZzhbGHk0AMavVBVS0pUAaZvWnLoQODp,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [35]:
new_test_df['user_id'] = new_test_df['username'].apply(lambda u: dict_username[u])
new_test_df['user_id'][:10]

/home/duyvc/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

23     user599
38      user16
45     user160
75     user855
102    user732
168    user596
173    user756
176    user600
190    user311
207    user644
Name: user_id, dtype: object

In [36]:
new_test_df['course_idd'] = new_test_df['course_id'].apply(lambda c: dict_course_id[c])
new_test_df['course_idd'][:10]

/home/duyvc/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

23     Kiểm thử và đảm bảo chất lượng phần mềm
38     Kiểm thử và đảm bảo chất lượng phần mềm
45     Kiểm thử và đảm bảo chất lượng phần mềm
75     Kiểm thử và đảm bảo chất lượng phần mềm
102    Kiểm thử và đảm bảo chất lượng phần mềm
168                     Quản lý dự án phần mềm
173              Marketing trong thế giới thực
176                     Quản lý dự án phần mềm
190              Marketing trong thế giới thực
207                               An ninh mạng
Name: course_idd, dtype: object

In [37]:
new_test_df.head()

,enrollment_id,username,course_id,user_id,course_idd
23,171,BkozGGotFoRWvs7kivTQvwwV5JZ8hddc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user599,Kiểm thử và đảm bảo chất lượng phần mềm
38,334,uQjl8NGtIQkRfoe9edBiMgtYYmdkzVXR,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user16,Kiểm thử và đảm bảo chất lượng phần mềm
45,425,HlYiU2TA92it9HWOPDlsBmlpdZ7J7QTJ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user160,Kiểm thử và đảm bảo chất lượng phần mềm
75,677,DBl87nF6WTgoCD6kgTHVE2oB45pDEn6y,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user855,Kiểm thử và đảm bảo chất lượng phần mềm
102,835,3ZzhbGHk0AMavVBVS0pUAaZvWnLoQODp,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user732,Kiểm thử và đảm bảo chất lượng phần mềm

In [38]:
new_test_df.to_csv('./enroll_test.csv')

In [39]:
# Save to experiment
new_test_df.to_csv('./experiment/v2/enrollment_test.csv', columns=['enrollment_id', 'username', 'course_id'], index=False)