In [1]:
# !pip3 install names

In [2]:
import pandas as pd
import numpy as np
import names

In [3]:
TOP_COURSE = 20 # number course to get
TOP_ENROLL = 4 # users had enrolled equal or more than 5 times

### Filter training enrollment by TOP_COURSE and TOP_ENROLL

In [4]:
# Total records
train_df = pd.read_csv('./train/enrollment_train.csv')
len(train_df)

72395

In [5]:
train_df.head()

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2

In [6]:
len(train_df.groupby('course_id').course_id)

39

In [7]:
len(train_df.groupby('username').course_id)

53870

In [8]:
top_course = train_df.groupby('course_id').course_id.agg(['count']).reset_index().sort_values(by='count', ascending=False)
top_course = top_course['course_id'][:TOP_COURSE].tolist()
top_course, range(len(top_course))

(['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
  'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
  'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
  'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
  'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
  'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
  'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
  'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
  '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
  'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE',
  'a2E7NQC7nZB7WHEhKGhKnKvUWtsLAQzh',
  'NmbZ3BmS8V4pMg6oxXHWpqqMZCE1jvYt',
  '5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6',
  'xMd9DzNyUCTLRPVbwWVzf4vq06oqrTT1',
  '1pvLqtotBsKv7QSOsLicJDQMHx3lui6d',
  'A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3',
  '3cnZpv6ReApmCaZyaQwi2izDZxVRdC01',
  'fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi',
  'Er0RFawC4sHagDmmQZcBGBrzamLQcblZ',
  '3VkHkmOtom3jM2wCu94xgzzu1d6Dn7or'],
 range(0, 20))

In [9]:
new_train_df = train_df[train_df['course_id'].isin(top_course)]
print(len(new_train_df))
new_train_df.head()

57946

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
5,14,XOhIczT5nEeO52jMq1vN7QziDk8L2jnI,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
6,18,b0Hk5D3sJulvyuC4JEm5kvAvOLAxswgQ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
7,20,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [10]:
new_train_df[new_train_df['course_id']=='DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila']

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
5,14,XOhIczT5nEeO52jMq1vN7QziDk8L2jnI,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
6,18,b0Hk5D3sJulvyuC4JEm5kvAvOLAxswgQ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
7,20,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
...,...,...,...
70920,196955,5JwFy3LzvMAPj3PPVJsanD1801FDhYLS,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70931,196994,BDe3LY4LwNXANV689l0Qamfouhqdygxh,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70935,197002,U8vo2wOZC3Q8EW1kIl6iwoIzgmQUZ4u1,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70938,197009,8nwJGMvEWVLgnvDRJG8GJRGN3pQnQQ5v,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70947,197027,vVomSgkHkyw3sqrRqYKc3zE1eWaa2d4G,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [11]:
# Total username had enrolled equals or more than 5 times
greater5_username = new_train_df.groupby(['username']).filter(lambda x: len(x) >= TOP_ENROLL)
unique_greater5_username = greater5_username.username.unique()
len(unique_greater5_username), unique_greater5_username[:10]

(692,
 array(['9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0',
        'FX39OUMp2fc5cOhN2hgQkfpLfm3Fwtwz',
        'eakdJaYNzY2KmT602U8CscAjNHHpGkgl',
        'zVX5LPwTGC1SEitxSfv31cubNXKJSEc2',
        'sD3rDh1CtXsAdfDDyFRBf917K7ELQzHQ',
        'Wyji6pvgj7unEJ4mD7FWwu0Sma8fUdv4',
        '8GKtgh5ojCBJDZIzab4pnG3eXm8mejoD',
        '90tR2Jy52lv1kJ6TwJ9Jqo5P6u0CqT0E',
        '0CuRIhBavvQKL5rTT1QWf2kztAfRXZug',
        '61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd'], dtype=object))

In [12]:
new_train_df = new_train_df[new_train_df['username'].isin(unique_greater5_username)]
len(new_train_df)

3137

In [13]:
new_train_df.head()

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
60,159,FX39OUMp2fc5cOhN2hgQkfpLfm3Fwtwz,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
65,186,eakdJaYNzY2KmT602U8CscAjNHHpGkgl,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
86,245,zVX5LPwTGC1SEitxSfv31cubNXKJSEc2,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
158,432,sD3rDh1CtXsAdfDDyFRBf917K7ELQzHQ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [14]:
new_train_df[new_train_df['course_id']=='DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila']

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
60,159,FX39OUMp2fc5cOhN2hgQkfpLfm3Fwtwz,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
65,186,eakdJaYNzY2KmT602U8CscAjNHHpGkgl,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
86,245,zVX5LPwTGC1SEitxSfv31cubNXKJSEc2,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
158,432,sD3rDh1CtXsAdfDDyFRBf917K7ELQzHQ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
...,...,...,...
68236,189472,MoQLSLdgc8N78DNeGEQHypzHbyf063p0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70419,195618,uhbUne0Zqx7l0LKNWrxxR44WistJmxKI,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70710,196359,Io5gLr8QOxaBw8nFReloAXOpt3IlZ5WE,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70715,196369,nV86nhQ7hJG7k83qAXvGwRzPT357EJhH,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70775,196544,j79CPp6e09l3A1MeqgSV5ajYlxbk9Ixy,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [15]:
len(top_course), len(unique_greater5_username)

(20, 692)

### New dataset

In [16]:
sample_dict = {
    'Công nghệ phần mềm': [
        'Thiết kế giao diện người dùng',
        'Kiểm thử và đảm bảo chất lượng phần mềm',
        'Kiến trúc phần mềm',
        'Phân tích và thiết kế hướng đối tượng',
        'Quản lý dự án phần mềm',
    ],
    'Toán học': [        
        'Giải tích',
        'Tư duy toán học',
        'Đại số tuyến tính',
        'Lý thuyết trò chơi',
    ],
    'Mạng và truyền thông': [        
        'Lập trình mạng',
        'Phát triển ứng dụng Web',
        'An ninh mạng',
    ],
    'Marketing' : [
        'Giới thiệu về marketing',
        'Marketing trong thế giới thực',
        'Tiếp thị kỹ thuật số',
    ],
    'Lịch sử': [
        'Lịch sử Việt Nam cận đại',
        'Chiến tranh thế giới thứ 1',
        'Chiến tranh thế giới thứ 2',
        'Văn hóa Việt Nam',
        'Lịch sử Hà Nội',
    ],
}

courses_data = {
    'category': [],
    'course': []
}
for category, courses in sample_dict.items():
    for course in courses:
        courses_data['category'].append(category)
        courses_data['course'].append(course)
courses_data_df = pd.DataFrame(courses_data, columns= ['category', 'course'])
courses_data_df.to_csv('./courses.csv', index = False, header=True)

In [17]:
categories = list(sample_dict.keys())
categories.sort()
print(categories)

defaut_categories = categories.copy()
weights = [
    0.9, 0.1, 0.1, 0.1,
    0.5, 0.1, 0.1, 
    0.5, 0.5,
    0.1,
]

rules_data = {
    'c_from': [],
    'c_to': [],
    'weight': weights
}

for c_from in defaut_categories:
    categories.pop(0)
    if len(categories) == 0:
        break
    for c_to in categories:
        print(c_from, c_to, weights[0], sep='----')
        rules_data['c_from'].append(c_from)
        rules_data['c_to'].append(c_to)
        rules_data['weight'].append(weights[0])
        weights.pop(0)


rules_data_df = pd.DataFrame(rules_data, columns= ['c_from', 'c_to', 'weight'])
rules_data_df.to_csv('./rules.csv', index = False, header=True)

['Công nghệ phần mềm', 'Lịch sử', 'Marketing', 'Mạng và truyền thông', 'Toán học']
Công nghệ phần mềm----Lịch sử----0.9
Công nghệ phần mềm----Marketing----0.1
Công nghệ phần mềm----Mạng và truyền thông----0.1
Công nghệ phần mềm----Toán học----0.1
Lịch sử----Marketing----0.5
Lịch sử----Mạng và truyền thông----0.1
Lịch sử----Toán học----0.1
Marketing----Mạng và truyền thông----0.5
Marketing----Toán học----0.5
Mạng và truyền thông----Toán học----0.1

In [18]:
username = new_train_df.username.unique()
new_username = list(['user{}'.format(i+1) for i in range(len(username))])
new_name = list([names.get_full_name() for i in range(len(username))])

dict_username = dict(zip(username, new_username))
len(new_username), new_username[:10], new_name[:10]

users_data = {
    'user': new_username,
    'name': new_name
}
users_data_df = pd.DataFrame(users_data, columns= ['user', 'name'])
users_data_df.to_csv('./users.csv', index = False, header=True)

Công nghệ phần mềm

Sinh viên thực hiện: Vũ Công Duy – 20150636 (Việt Nhật AS - K60)
1. Công nghệ phần mềm
o Thiết kế giao diện người dùng
o Kiểm thử và đảm bảo chất lượng phần mềm
o Kiến trúc phần mềm
o Phân tích và thiết kế hướng đối tượng
o Quản lý dự án phần mềm

2. Toán học
o Giải tích
o Tư duy toán học
o Đại số tuyến tính
o Toán ứng dụng

3. Kinh doanh
o Cơ sở kinh doanh
o Thị trường tài chính

4. Khoa học máy tính
o Trí tuệ nhân tạo
o Chương trình dịch
o Xử lý ảnh
o Học máy

5. Ngôn ngữ
o Nhập môn tiếng Nhật
o Tiếng Anh giao tiếp

6. Mạng và truyền thông
o Lập trình mạng
o Phát triển ứng dụng Web
o Quản trị mạng

In [19]:
course_id = top_course
sample_course = np.hstack(list(sample_dict.values()))
len(sample_course), sample_course, range(len(course_id))
new_course_id = list([sample_course[i] for i in range(len(course_id))])

dict_course_id = dict(zip(course_id, new_course_id))
len(course_id), course_id[:10], new_course_id[:10]

(20,
 ['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
  'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
  'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
  'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
  'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
  'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
  'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
  'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
  '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
  'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE'],
 ['Thiết kế giao diện người dùng',
  'Kiểm thử và đảm bảo chất lượng phần mềm',
  'Kiến trúc phần mềm',
  'Phân tích và thiết kế hướng đối tượng',
  'Quản lý dự án phần mềm',
  'Giải tích',
  'Tư duy toán học',
  'Đại số tuyến tính',
  'Lý thuyết trò chơi',
  'Lập trình mạng'])

In [20]:
new_course_id

['Thiết kế giao diện người dùng',
 'Kiểm thử và đảm bảo chất lượng phần mềm',
 'Kiến trúc phần mềm',
 'Phân tích và thiết kế hướng đối tượng',
 'Quản lý dự án phần mềm',
 'Giải tích',
 'Tư duy toán học',
 'Đại số tuyến tính',
 'Lý thuyết trò chơi',
 'Lập trình mạng',
 'Phát triển ứng dụng Web',
 'An ninh mạng',
 'Giới thiệu về marketing',
 'Marketing trong thế giới thực',
 'Tiếp thị kỹ thuật số',
 'Lịch sử Việt Nam cận đại',
 'Chiến tranh thế giới thứ 1',
 'Chiến tranh thế giới thứ 2',
 'Văn hóa Việt Nam',
 'Lịch sử Hà Nội']

In [21]:
new_train_df['user'] = new_train_df['username'].apply(lambda u: dict_username[u])
new_train_df['user'][:10]

0      user1
60     user2
65     user3
86     user4
158    user5
275    user6
338    user7
339    user7
374    user8
377    user9
Name: user, dtype: object

In [22]:
new_train_df['course'] = new_train_df['course_id'].apply(lambda c: dict_course_id[c])
new_train_df['course'][:10]

0      Kiểm thử và đảm bảo chất lượng phần mềm
60     Kiểm thử và đảm bảo chất lượng phần mềm
65     Kiểm thử và đảm bảo chất lượng phần mềm
86     Kiểm thử và đảm bảo chất lượng phần mềm
158    Kiểm thử và đảm bảo chất lượng phần mềm
275                     Quản lý dự án phần mềm
338                     Quản lý dự án phần mềm
339    Kiểm thử và đảm bảo chất lượng phần mềm
374                     Quản lý dự án phần mềm
377    Kiểm thử và đảm bảo chất lượng phần mềm
Name: course, dtype: object

In [23]:
new_train_df[:10]

,enrollment_id,username,course_id,user,course
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user1,Kiểm thử và đảm bảo chất lượng phần mềm
60,159,FX39OUMp2fc5cOhN2hgQkfpLfm3Fwtwz,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user2,Kiểm thử và đảm bảo chất lượng phần mềm
65,186,eakdJaYNzY2KmT602U8CscAjNHHpGkgl,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user3,Kiểm thử và đảm bảo chất lượng phần mềm
86,245,zVX5LPwTGC1SEitxSfv31cubNXKJSEc2,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user4,Kiểm thử và đảm bảo chất lượng phần mềm
158,432,sD3rDh1CtXsAdfDDyFRBf917K7ELQzHQ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user5,Kiểm thử và đảm bảo chất lượng phần mềm
275,791,Wyji6pvgj7unEJ4mD7FWwu0Sma8fUdv4,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,user6,Quản lý dự án phần mềm
338,953,8GKtgh5ojCBJDZIzab4pnG3eXm8mejoD,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,user7,Quản lý dự án phần mềm
339,954,8GKtgh5ojCBJDZIzab4pnG3eXm8mejoD,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user7,Kiểm thử và đảm bảo chất lượng phần mềm
374,1075,90tR2Jy52lv1kJ6TwJ9Jqo5P6u0CqT0E,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,user8,Quản lý dự án phần mềm
377,1080,0CuRIhBavvQKL5rTT1QWf2kztAfRXZug,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user9,Kiểm thử và đảm bảo chất lượng phần mềm

In [24]:
new_train_df.to_csv('./enroll_train.csv')

In [25]:
# Save to experiment
new_train_df.to_csv('./experiment/v0/enrollment_train.csv', columns=['enrollment_id', 'username', 'course_id'], index=False)

### Use new username, course to apply in test

In [26]:
# Total records
test_df = pd.read_csv('./test/enrollment_test.csv')
len(test_df)

24013

In [27]:
test_df.head()

,enrollment_id,username,course_id
0,30,JPkczYOxyoDZBjwZAAQHmjpSvnPQzwV0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,31,6mzGZyDGSLMvgMQyFwXmz47ojS1kH3j6,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,48,1ELMItXjpijnCZU4WKxvrVri8AjkR2gf,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
4,50,LnNj9zDI8D38ixGOYTIjTH2iF5m36v9S,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [28]:
# user name unique in train_df 
username[:10]

array(['9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0',
       'FX39OUMp2fc5cOhN2hgQkfpLfm3Fwtwz',
       'eakdJaYNzY2KmT602U8CscAjNHHpGkgl',
       'zVX5LPwTGC1SEitxSfv31cubNXKJSEc2',
       'sD3rDh1CtXsAdfDDyFRBf917K7ELQzHQ',
       'Wyji6pvgj7unEJ4mD7FWwu0Sma8fUdv4',
       '8GKtgh5ojCBJDZIzab4pnG3eXm8mejoD',
       '90tR2Jy52lv1kJ6TwJ9Jqo5P6u0CqT0E',
       '0CuRIhBavvQKL5rTT1QWf2kztAfRXZug',
       '61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd'], dtype=object)

In [29]:
# course_id unique in train_df 
course_id[:10]

['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
 'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
 'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
 'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
 'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
 'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
 'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
 'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
 '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
 'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE']

In [30]:
# Only test if username and course appear in train_df
def inTrain(row):
    if row['username'] in username and row['course_id'] in course_id:
        return True
    return False

In [31]:
in_train = test_df.apply(inTrain, axis=1)
new_test_df = test_df[in_train]
len(new_test_df)

459

In [32]:
new_test_df.head()

,enrollment_id,username,course_id
38,334,uQjl8NGtIQkRfoe9edBiMgtYYmdkzVXR,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
168,1424,VBP5PzVQEKJYFH0y5ffEek5WfP9EW7uc,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
207,1813,y28h4Mo8cYpNiUreeF5KoyNN24Uz0qpM,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi
225,1974,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv
235,2092,5IM8g7YMOYo5qH7Yu3x31T3JkVOH9iqe,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv

In [33]:
new_test_df['user_id'] = new_test_df['username'].apply(lambda u: dict_username[u])
new_test_df['user_id'][:10]

/home/duyvc/code/elearning/SeedSQL/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

38     user161
168    user299
207    user317
225     user26
235    user160
240     user63
261    user667
301     user41
323    user535
329    user177
Name: user_id, dtype: object

In [34]:
new_test_df['course_idd'] = new_test_df['course_id'].apply(lambda c: dict_course_id[c])
new_test_df['course_idd'][:10]

/home/duyvc/code/elearning/SeedSQL/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

38     Kiểm thử và đảm bảo chất lượng phần mềm
168                     Quản lý dự án phần mềm
207                 Chiến tranh thế giới thứ 2
225              Thiết kế giao diện người dùng
235              Thiết kế giao diện người dùng
240              Thiết kế giao diện người dùng
261                    Giới thiệu về marketing
301                    Giới thiệu về marketing
323              Thiết kế giao diện người dùng
329                    Giới thiệu về marketing
Name: course_idd, dtype: object

In [35]:
new_test_df.head()

,enrollment_id,username,course_id,user_id,course_idd
38,334,uQjl8NGtIQkRfoe9edBiMgtYYmdkzVXR,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user161,Kiểm thử và đảm bảo chất lượng phần mềm
168,1424,VBP5PzVQEKJYFH0y5ffEek5WfP9EW7uc,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,user299,Quản lý dự án phần mềm
207,1813,y28h4Mo8cYpNiUreeF5KoyNN24Uz0qpM,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,user317,Chiến tranh thế giới thứ 2
225,1974,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv,user26,Thiết kế giao diện người dùng
235,2092,5IM8g7YMOYo5qH7Yu3x31T3JkVOH9iqe,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv,user160,Thiết kế giao diện người dùng

In [36]:
new_test_df.to_csv('./enroll_test.csv')

In [37]:
# Save to experiment
new_test_df.to_csv('./experiment/v0/enrollment_test.csv', columns=['enrollment_id', 'username', 'course_id'], index=False)