In [1]:
# !pip3 install names

Collecting names
Installing collected packages: names
Successfully installed names-0.3.0

In [2]:
import pandas as pd
import numpy as np
import names

In [3]:
TOP_COURSE = 20 # number course to get
TOP_ENROLL = 5 # users had enrolled equal or more than 5 times

### Filter training enrollment by TOP_COURSE and TOP_ENROLL

In [4]:
# Total records
train_df = pd.read_csv('./train/enrollment_train.csv')
len(train_df)

72395

In [5]:
train_df.head()

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2

In [6]:
top_course = train_df.groupby('course_id').course_id.agg(['count']).reset_index().sort_values(by='count', ascending=False)
top_course = top_course['course_id'][:TOP_COURSE].tolist()
top_course

['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
 'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
 'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
 'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
 'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
 'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
 'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
 'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
 '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
 'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE',
 'a2E7NQC7nZB7WHEhKGhKnKvUWtsLAQzh',
 'NmbZ3BmS8V4pMg6oxXHWpqqMZCE1jvYt',
 '5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6',
 'xMd9DzNyUCTLRPVbwWVzf4vq06oqrTT1',
 '1pvLqtotBsKv7QSOsLicJDQMHx3lui6d',
 'A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3',
 '3cnZpv6ReApmCaZyaQwi2izDZxVRdC01',
 'fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi',
 'Er0RFawC4sHagDmmQZcBGBrzamLQcblZ',
 '3VkHkmOtom3jM2wCu94xgzzu1d6Dn7or']

In [7]:
new_train_df = train_df[train_df['course_id'].isin(top_course)]
print(len(new_train_df))
new_train_df.head()

57946

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
5,14,XOhIczT5nEeO52jMq1vN7QziDk8L2jnI,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
6,18,b0Hk5D3sJulvyuC4JEm5kvAvOLAxswgQ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
7,20,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [8]:
new_train_df[new_train_df['course_id']=='DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila']

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
5,14,XOhIczT5nEeO52jMq1vN7QziDk8L2jnI,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
6,18,b0Hk5D3sJulvyuC4JEm5kvAvOLAxswgQ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
7,20,BoK7CAUaCFqnLgmWLxeOHg8YkXUSeCtc,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
...,...,...,...
70920,196955,5JwFy3LzvMAPj3PPVJsanD1801FDhYLS,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70931,196994,BDe3LY4LwNXANV689l0Qamfouhqdygxh,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70935,197002,U8vo2wOZC3Q8EW1kIl6iwoIzgmQUZ4u1,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70938,197009,8nwJGMvEWVLgnvDRJG8GJRGN3pQnQQ5v,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70947,197027,vVomSgkHkyw3sqrRqYKc3zE1eWaa2d4G,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [9]:
# Total username had enrolled equals or more than 5 times
greater5_username = new_train_df.groupby(['username']).filter(lambda x: len(x) >= TOP_ENROLL)
unique_greater5_username = greater5_username.username.unique()
len(unique_greater5_username), unique_greater5_username[:10]

(236, array(['61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd',
        'T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM',
        'k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W',
        'UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX',
        'yZ9FndAKqVsKwZtO1B2JJJblefdbhZ02',
        'oaoj9be4jW2Hot8wYgYrzLRvB0RU4KYy',
        'lbgTV2YMskSv2TX4EXpaazpMVWfsftEV',
        's6iksgptFmyh2vfiarKdJkiKnp6RLi3f',
        'viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk',
        'HAAyQYNYY3ULmqhNC56bxv5FSwyMVoqP'], dtype=object))

In [10]:
new_train_df = new_train_df[new_train_df['username'].isin(unique_greater5_username)]
len(new_train_df)

1313

In [11]:
new_train_df.head()

,enrollment_id,username,course_id
389,1124,61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
437,1248,T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
563,1585,k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
619,1736,UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
628,1758,yZ9FndAKqVsKwZtO1B2JJJblefdbhZ02,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd

In [12]:
new_train_df[new_train_df['course_id']=='DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila']

,enrollment_id,username,course_id
437,1248,T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
563,1585,k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
619,1736,UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
5245,14702,nPRsjektHdbQkeAf1fIK4JbhrESPbPsA,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
5407,15118,Hj4fYYa64lvHLVeQZBqs9EQ1OtgHTvl6,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
...,...,...,...
63839,177131,TOybu3VTl57Gwz61jxLAAYZF2xYkGB5M,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
68066,188950,lbgTV2YMskSv2TX4EXpaazpMVWfsftEV,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
68150,189188,72z519PMt8GGBXLvF1FG0oMJuciCSWYJ,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70710,196359,Io5gLr8QOxaBw8nFReloAXOpt3IlZ5WE,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
70715,196369,nV86nhQ7hJG7k83qAXvGwRzPT357EJhH,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila

In [13]:
len(top_course), len(unique_greater5_username)

(20, 236)

### New dataset

In [14]:
sample_dict = {
    'Công nghệ phần mềm': [
        'Thiết kế giao diện người dùng',
        'Kiểm thử và đảm bảo chất lượng phần mềm',
        'Kiến trúc phần mềm',
        'Phân tích và thiết kế hướng đối tượng',
        'Quản lý dự án phần mềm',
    ],
    'Toán học': [        
        'Giải tích',
        'Tư duy toán học',
        'Đại số tuyến tính',
        'Toán ứng dụng',
    ],
    'Kinh doanh': [
        'Cơ sở kinh doanh',
        'Thị trường tài chính',
    ],
    'Khoa học máy tính': [        
        'Trí tuệ nhân tạo',
        'Chương trình dịch',
        'Xử lý ảnh',
        'Học máy',
    ],
    'Ngôn ngữ': [
        'Nhập môn tiếng Nhật',
        'Tiếng Anh giao tiếp',
    ],
    'Mạng và truyền thông': [        
        'Lập trình mạng',
        'Phát triển ứng dụng Web',
        'Quản trị mạng',
    ]
}

courses_data = {
    'category': [],
    'course': []
}
for category, courses in sample_dict.items():
    for course in courses:
        courses_data['category'].append(category)
        courses_data['course'].append(course)
courses_data_df = pd.DataFrame(courses_data, columns= ['category', 'course'])
courses_data_df.to_csv('./courses.csv', index = False, header=True)

In [58]:
categories = list(sample_dict.keys())
categories.sort()
print(categories)

defaut_categories = categories.copy()
weights = [
    0.9, 0.1, 0.9, 0.1, 0.5,
    0.1, 0.9, 0.1, 0.5,
    0.1, 0.9, 0.5,
    0.1, 0.5,
    0.1
]

rules_data = {
    'c_from': [],
    'c_to': [],
    'weight': weights
}

for c_from in defaut_categories:
    categories.pop(0)
    if len(categories) == 0:
        break
    for c_to in categories:
        print(c_from, c_to, weights[0], sep='----')
        rules_data['c_from'].append(c_from)
        rules_data['c_to'].append(c_to)
        rules_data['weight'].append(weights[0])
        weights.pop(0)


rules_data_df = pd.DataFrame(rules_data, columns= ['c_from', 'c_to', 'weight'])
rules_data_df.to_csv('./rules.csv', index = False, header=True)

['Công nghệ phần mềm', 'Khoa học máy tính', 'Kinh doanh', 'Mạng và truyền thông', 'Ngôn ngữ', 'Toán học']
Công nghệ phần mềm----Khoa học máy tính----0.9
Công nghệ phần mềm----Kinh doanh----0.1
Công nghệ phần mềm----Mạng và truyền thông----0.9
Công nghệ phần mềm----Ngôn ngữ----0.1
Công nghệ phần mềm----Toán học----0.5
Khoa học máy tính----Kinh doanh----0.1
Khoa học máy tính----Mạng và truyền thông----0.9
Khoa học máy tính----Ngôn ngữ----0.1
Khoa học máy tính----Toán học----0.5
Kinh doanh----Mạng và truyền thông----0.1
Kinh doanh----Ngôn ngữ----0.9
Kinh doanh----Toán học----0.5
Mạng và truyền thông----Ngôn ngữ----0.1
Mạng và truyền thông----Toán học----0.5
Ngôn ngữ----Toán học----0.1

In [15]:
username = new_train_df.username.unique()
new_username = list(['user{}'.format(i+1) for i in range(len(username))])
new_name = list([names.get_full_name() for i in range(len(username))])

dict_username = dict(zip(username, new_username))
len(new_username), new_username[:10], new_name[:10]

users_data = {
    'user': new_username,
    'name': new_name
}
users_data_df = pd.DataFrame(users_data, columns= ['user', 'name'])
users_data_df.to_csv('./users.csv', index = False, header=True)

Công nghệ phần mềm

Sinh viên thực hiện: Vũ Công Duy – 20150636 (Việt Nhật AS - K60)
1. Công nghệ phần mềm
o Thiết kế giao diện người dùng
o Kiểm thử và đảm bảo chất lượng phần mềm
o Kiến trúc phần mềm
o Phân tích và thiết kế hướng đối tượng
o Quản lý dự án phần mềm

2. Toán học
o Giải tích
o Tư duy toán học
o Đại số tuyến tính
o Toán ứng dụng

3. Kinh doanh
o Cơ sở kinh doanh
o Thị trường tài chính

4. Khoa học máy tính
o Trí tuệ nhân tạo
o Chương trình dịch
o Xử lý ảnh
o Học máy

5. Ngôn ngữ
o Nhập môn tiếng Nhật
o Tiếng Anh giao tiếp

6. Mạng và truyền thông
o Lập trình mạng
o Phát triển ứng dụng Web
o Quản trị mạng

In [16]:
course_id = top_course
sample_course = np.hstack(list(sample_dict.values()))
new_course_id = list([sample_course[i] for i in range(len(course_id))])

dict_course_id = dict(zip(course_id, new_course_id))
len(course_id), course_id[:10], new_course_id[:10]

(20,
 ['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
  'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
  'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
  'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
  'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
  'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
  'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
  'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
  '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
  'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE'],
 ['Thiết kế giao diện người dùng',
  'Kiểm thử và đảm bảo chất lượng phần mềm',
  'Kiến trúc phần mềm',
  'Phân tích và thiết kế hướng đối tượng',
  'Quản lý dự án phần mềm',
  'Giải tích',
  'Tư duy toán học',
  'Đại số tuyến tính',
  'Toán ứng dụng',
  'Cơ sở kinh doanh'])

In [17]:
new_course_id

['Thiết kế giao diện người dùng',
 'Kiểm thử và đảm bảo chất lượng phần mềm',
 'Kiến trúc phần mềm',
 'Phân tích và thiết kế hướng đối tượng',
 'Quản lý dự án phần mềm',
 'Giải tích',
 'Tư duy toán học',
 'Đại số tuyến tính',
 'Toán ứng dụng',
 'Cơ sở kinh doanh',
 'Thị trường tài chính',
 'Trí tuệ nhân tạo',
 'Chương trình dịch',
 'Xử lý ảnh',
 'Học máy',
 'Nhập môn tiếng Nhật',
 'Tiếng Anh giao tiếp',
 'Lập trình mạng',
 'Phát triển ứng dụng Web',
 'Quản trị mạng']

In [18]:
new_train_df['user'] = new_train_df['username'].apply(lambda u: dict_username[u])
new_train_df['user'][:10]

389    user1
437    user2
563    user3
619    user4
628    user5
665    user6
679    user7
680    user8
710    user9
718    user9
Name: user, dtype: object

In [19]:
new_train_df['course'] = new_train_df['course_id'].apply(lambda c: dict_course_id[c])
new_train_df['course'][:10]

389                     Quản lý dự án phần mềm
437    Kiểm thử và đảm bảo chất lượng phần mềm
563    Kiểm thử và đảm bảo chất lượng phần mềm
619    Kiểm thử và đảm bảo chất lượng phần mềm
628                     Quản lý dự án phần mềm
665                             Lập trình mạng
679                             Lập trình mạng
680                             Lập trình mạng
710                          Chương trình dịch
718                    Phát triển ứng dụng Web
Name: course, dtype: object

In [20]:
new_train_df[:10]

,enrollment_id,username,course_id,user,course
389,1124,61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,user1,Quản lý dự án phần mềm
437,1248,T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user2,Kiểm thử và đảm bảo chất lượng phần mềm
563,1585,k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user3,Kiểm thử và đảm bảo chất lượng phần mềm
619,1736,UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,user4,Kiểm thử và đảm bảo chất lượng phần mềm
628,1758,yZ9FndAKqVsKwZtO1B2JJJblefdbhZ02,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,user5,Quản lý dự án phần mềm
665,1845,oaoj9be4jW2Hot8wYgYrzLRvB0RU4KYy,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,user6,Lập trình mạng
679,1888,lbgTV2YMskSv2TX4EXpaazpMVWfsftEV,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,user7,Lập trình mạng
680,1891,s6iksgptFmyh2vfiarKdJkiKnp6RLi3f,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,user8,Lập trình mạng
710,1967,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6,user9,Chương trình dịch
718,1980,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,Er0RFawC4sHagDmmQZcBGBrzamLQcblZ,user9,Phát triển ứng dụng Web

In [21]:
new_train_df.to_csv('./enroll_train.csv')

### Use new username, course to apply in test

In [22]:
# Total records
test_df = pd.read_csv('./test/enrollment_test.csv')
len(test_df)

24013

In [23]:
test_df.head()

,enrollment_id,username,course_id
0,30,JPkczYOxyoDZBjwZAAQHmjpSvnPQzwV0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,31,6mzGZyDGSLMvgMQyFwXmz47ojS1kH3j6,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
2,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,48,1ELMItXjpijnCZU4WKxvrVri8AjkR2gf,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
4,50,LnNj9zDI8D38ixGOYTIjTH2iF5m36v9S,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [24]:
# user name unique in train_df 
username[:10]

array(['61ysO1Pg5Q6bsn73gkzoQt72GbhUHgNd',
       'T6EWQ7jVP89JlHzj41KN1gEtGYevpSQM',
       'k3YRNSEUtBfnCzCI2ffYAi1qqoCc9d8W',
       'UaSh8dwx8gnofYbXlmpqj9uYDbpJ89pX',
       'yZ9FndAKqVsKwZtO1B2JJJblefdbhZ02',
       'oaoj9be4jW2Hot8wYgYrzLRvB0RU4KYy',
       'lbgTV2YMskSv2TX4EXpaazpMVWfsftEV',
       's6iksgptFmyh2vfiarKdJkiKnp6RLi3f',
       'viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk',
       'HAAyQYNYY3ULmqhNC56bxv5FSwyMVoqP'], dtype=object)

In [25]:
# course_id unique in train_df 
course_id[:10]

['81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv',
 'DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila',
 'I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO',
 'H2lDW05SyKnwntZ6Fora76aPAEswcMa5',
 'AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd',
 'SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw',
 'ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ',
 'shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI',
 '9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz',
 'V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE']

In [26]:
# Only test if username and course appear in train_df
def inTrain(row):
    if row['username'] in username and row['course_id'] in course_id:
        return True
    return False

In [27]:
in_train = test_df.apply(inTrain, axis=1)
new_test_df = test_df[in_train]
len(new_test_df)

184

In [28]:
new_test_df.head()

,enrollment_id,username,course_id
225,1974,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv
235,2092,5IM8g7YMOYo5qH7Yu3x31T3JkVOH9iqe,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv
240,2129,zeUi2UnQZPPF6bRQXw2s8LZ41ZOdqRAa,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv
301,2559,HbDaABEakQmE8DQEoFoIphu2SH13rFRy,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6
329,2843,g3902agYIRHzac78MKVZlvljLMXXNpQ7,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6

In [29]:
new_test_df['user_id'] = new_test_df['username'].apply(lambda u: dict_username[u])
new_test_df['user_id'][:10]

/home/duyvc/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

225      user9
235     user63
240     user28
301     user17
329     user71
395     user20
474     user66
599     user18
641     user41
748    user143
Name: user_id, dtype: object

In [30]:
new_test_df['course_idd'] = new_test_df['course_id'].apply(lambda c: dict_course_id[c])
new_test_df['course_idd'][:10]

/home/duyvc/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

225    Thiết kế giao diện người dùng
235    Thiết kế giao diện người dùng
240    Thiết kế giao diện người dùng
301                Chương trình dịch
329                Chương trình dịch
395          Phát triển ứng dụng Web
474                   Lập trình mạng
599              Tiếng Anh giao tiếp
641                        Giải tích
748           Quản lý dự án phần mềm
Name: course_idd, dtype: object

In [31]:
new_test_df.head()

,enrollment_id,username,course_id,user_id,course_idd
225,1974,viuKt4GgrX0rYL5EpHoxJbsiC9TblSuk,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv,user9,Thiết kế giao diện người dùng
235,2092,5IM8g7YMOYo5qH7Yu3x31T3JkVOH9iqe,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv,user63,Thiết kế giao diện người dùng
240,2129,zeUi2UnQZPPF6bRQXw2s8LZ41ZOdqRAa,81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv,user28,Thiết kế giao diện người dùng
301,2559,HbDaABEakQmE8DQEoFoIphu2SH13rFRy,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6,user17,Chương trình dịch
329,2843,g3902agYIRHzac78MKVZlvljLMXXNpQ7,5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6,user71,Chương trình dịch

In [32]:
new_test_df.to_csv('./enroll_test.csv')